In [1]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\joell\anaconda3\envs\dth\lib\site-packages (from ucimlrepo) (2.2.3)
Collecting certifi>=2020.12.5 (from ucimlrepo)
  Using cached certifi-2024.8.30-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\joell\anaconda3\envs\dth\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\joell\anaconda3\envs\dth\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\joell\anaconda3\envs\dth\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\joell\anaconda3\envs\dth\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\joell\anaconda3\envs\dth\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Using cached certifi-2024.8.30-py3-none-any.whl (167 kB)
Installing collected packages: certifi, ucimlrepo
Successfully installed certifi-2024.8.30 ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

# Dataset for Heartdisease: 
Work about the source: https://libres.uncg.edu/ir/ecsu/f/Brandon_Simmons_Thesis-Final.pdf 
Source: https://archive.ics.uci.edu/dataset/45/heart+disease

Only 14 attributes used:
1. #3  (age)            age in years    
2. #4  (sex)            sex (1 = male; 0 = female)
3. #9  (cp)             chest pain type
                              -- Value 1: typical angina
                              -- Value 2: atypical angina
                              -- Value 3: non-anginal pain
                              -- Value 4: asymptomatic
4. #10 (trestbps)       resting blood pressure (in mm Hg on admission to the hospital)
5. #12 (chol)           serum cholestoral in mg/dl    
6. #16 (fbs)            (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
7. #19 (restecg)        restecg: resting electrocardiographic results
                              -- Value 0: normal
                              -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
                              -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
8. #32 (thalach)        maximum heart rate achieved
9. #38 (exang)          exercise induced angina (1 = yes; 0 = no)
10. #40 (oldpeak)       ST depression induced by exercise relative to rest
11. #41 (slope)         the slope of the peak exercise ST segment
                              -- Value 1: upsloping
                              -- Value 2: flat
                              -- Value 3: downsloping
12. #44 (ca)            number of major vessels (0-3) colored by flourosopy
13. #51 (thal)          thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
14. #58 (num)           diagnosis of heart disease (angiographic disease status)
                              -- Value 0: < 50% diameter narrowing
                              -- Value 1: > 50% diameter narrowing
                              (in any major vessel: attributes 59 through 68 are vessels)

In [13]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
# fetch dataset 
heart_disease = fetch_ucirepo(id=45) 
df = pd.DataFrame(heart_disease.data.features)
df['CVD'] = heart_disease.data.targets
df.describe()

# # data (as pandas dataframes) 
# X = heart_disease.data.features 
# y = heart_disease.data.targets 
  
# # metadata 
# print(heart_disease.metadata) 
  
# # variable information 
# print(heart_disease.variables)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,CVD
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000,301.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241,4.734219,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438,1.939706,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000

In [61]:
import numpy as np
df = pd.read_csv('CDV_Data/processed.switzerland.data', sep=',',header=None)
df = df.rename(columns  = {0:'age', 1:'sex', 2:'cp', 3:'trestbps', 4:'chol', 5:'fbs', 6:'restecg', 7:'thalach',
       8:'exang', 9:'oldpeak', 10:'slope', 11:'ca', 12:'thal', 13: 'CVD'})
df = df.replace('?', 1000000)
df.age.astype(int)
df.sex.astype(int)
df.cp.astype(int)
df.trestbps.astype(int)
df.chol.astype(int)
df.fbs.astype(int)
df.restecg.astype(int)
df.thalach.astype(int)
df.slope.astype(int)
df.ca.astype(int)
df.thal.astype(int)
df = df.replace(1000000, np.nan)

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer = IterativeImputer()
df = pd.DataFrame(imputer.fit_transform(df))
df = df.rename(columns  = {0:'age', 1:'sex', 2:'cp', 3:'trestbps', 4:'chol', 5:'fbs', 6:'restecg', 7:'thalach',
       8:'exang', 9:'oldpeak', 10:'slope', 11:'ca', 12:'thal', 13: 'CVD'})
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,CVD
count,123.000000,123.000000,123.000000,123.000000,123.0,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000
mean,55.317073,0.918699,3.699187,130.168824,0.0,0.110047,0.359085,121.418045,0.442893,0.647971,1.799902,1.158890,6.037052,1.804878
std,9.032108,0.274414,0.688726,22.449874,0.0,0.193608,0.587912,25.916862,0.496706,1.031055,0.580082,1.255707,1.442031,1.013503
min,32.000000,0.000000,1.000000,80.000000,0.0,0.000000,0.000000,60.000000,0.000000,-2.600000,1.000000,-1.961988,3.000000,0.000000
25%,51.000000,1.000000,4.000000,115.000000,0.0,0.000000,0.000000,104.209786,0.000000,0.000000,1.000000,0.205897,5.852038,1.000000
50%,56.000000,1.000000,4.000000,125.000000,0.0,0.091338,0.000000,121.000000,0.000000,0.400000,2.000000,1.085529,6.610889,2.000000
75%,61.500000,1.000000,4.000000,145.000000,0.0,0.127130,1.000000,140.000000,1.000000,1.450000,2.000000,2.133607,7.000000,3.000000
max,74.000000,1.000000,4.000000,200.000000,0.0,1.000000,2.000000,182.000000,1.000000,3.700000,3.000000,4.236724,7.981400,4.000000